.easy-form-full-width {
  width: 100%;
}

.easy-form-field-error {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 4px;
}

.easy-form-select-infinite-loading {
  text-align: center;
  padding: 8px;
}

.easy-form-select-infinite-nomore {
  text-align: center;
  padding: 8px;
  color: #999;
}

.easy-form-select-infinite-loadmore {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  color: #1677ff;
}
